/*-------------------------------- Fuentes --------------------------------*/
@font-face {
	font-family: 'Cinzel';
	src: url(../fonts/Cinzel-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Cinzel';
	src: url(../fonts/Cinzel-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Cinzel';
	src: url(../fonts/Cinzel-Black.ttf);
	font-style: normal;
	font-weight: 900;
}
/****************************************************************************/


/*---------------------------------- Tags ----------------------------------*/
body {
	font-size: 16px;
}

img {
	height: 100%;
	width: auto;
}

a, a:hover {
	text-decoration: none;
	color: black;
}

button {
	margin: 1%;
}

button > a {
	color: white;
}

/****************************************************************************/


/*--------------------------------- Clases ---------------------------------*/
.nav, .navbar-default {
	background: url(../img/wood-texture.jpg) repeat;
}

.navbar-brand {
	color: white !important;
	font-family: 'Cinzel';
	font-weight: bold;
	text-shadow: 2px 2px 5px black;
}

.flipster {
	width: 50%;
	min-height: 320px;
	float: left;
}

.menu-option {
	margin: 2%;
}

.menu-option-header {
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
	padding: 2%;
}

.submenu-options {
	display: none;
	background: linear-gradient(to bottom, #feffe8 0%,#d6dbbf 100%);
	padding: 2% 2%;
}

.submenu-options li {
	transition: all 0.5s;
}

.submenu-options li:hover {
	font-weight: bold;
}

.book-details {
}

/****************************************************************************/


/*---------------------------------- IDs ----------------------------------*/
#main-navbar li > a {
	color: white !important;
	font-family: 'Cinzel';
	font-size: 1em; /* 25px/16px */
	font-weight: bold;
	text-shadow: 2px 2px 5px black;	

	transition: all 0.5s;
}

#main-navbar li > a:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

#manage-options {
	float: right;
	width: 40%
}

#manage-options ul {
	list-style: none;
	padding: 0;
}

/****************************************************************************/


/*----------------------------- Media Queries -----------------------------*/

@media screen and (max-width: 1000px) {
	body {
		font-size: 18px;
	}

	.flipster {
		float: none;
		width: 100%;
	}

	#manage-options {
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.flipster {
		min-height: 85%;
		padding: 2%
	}

	img	{
		height: 55%;
		width: 100%;
	}
}



/****************************************************************************/